<!DOCTYPE html>

<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">

  <title>TODO</title>
  {% assets "base_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
  <script src="/static/bower_components/angular/angular.js"></script>
</head>
<body {% block ng_app %}{% endblock %}>
  <div class="container" id="main-block">
    {% block content %}
    {% endblock %}
  </div>

  {% assets "main_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
